<div class="mt-4 p-5 bg-secondary text-white rounded text-center">
  <button class="btn btn-success btn-lg" (click)="tirarDados()">Tirar dados</button>
  <br>
  <img class="img" [src]="dadoIzquierda" alt="">
  <img class="img" [src]="dadoDerecha" alt="">
  <h1 *ngIf="numero1 === numero2"><span class="badge bg-success"> GANASTE</span></h1>
</div>